<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Example</title>
	<script src="static/utility.js"></script>
  </head>
  
  <body>
	<h2>Example</h2>	
	<form name="my_form" >

		Please enter first  number &nbsp; <input type="text" name = "N1"><br>
        	Please enter second  number &nbsp; <input type="text" name = "N2"><br>        


                Please enter first  number &nbsp; <input type="text" name = "N1"><br>
                Please enter second  number &nbsp; <input type="text" name = "N2"><br>

		<input type="button" class="btn btn-sm" onclick="submitData('add')" value="add">
                <input type="button" class="btn btn-sm" onclick="submitData('exponentiation')" value="exponentiation">
                <!-- Add your input statements here -->
        </form>
		<input type="button" class="btn btn-sm" onclick="submitData('isequal')" value="isequal">
	  	<input type="button" class="btn btn-sm" onclick="submitData('expo')" value="expo">


	<!-- Add your input statements here -->
		<input type="button" class="btn btn-sm" onclick="submitData('LOGICAL_AND')" value="LOGICAL_AND">
		<input type="button" class="btn btn-sm" onclick="submitData('bitwiseXor')" value="Bitwise Xor">
		<input type="button" class="btn btn-sm" onclick="submitData('bitAND')" value="Bitwise And">
		<input type="button" class="btn btn-sm" onclick="submitData('LOGICAL_AND')" value="LOGICAL_AND">
		<input type="button" class="btn btn-sm" onclick="submitData('shiftdeciright')" value="shiftdeciright">



		<input type="button" class="btn btn-sm" onclick="submitData('add')" value="add">	
		<input type="button" class="btn btn-sm" onclick="submitData('mult')" value="mult">
		<input type="button" class="btn btn-sm" onclick="submitData('xyz')" value="xyz">

		<input type="button" class="btn btn-sm" id="hwr" onclick="submitData('add')" value="Sum">	
		<input type="button" class="btn btn-sm" onclick="submitData('division')" value="division">	
		<input type="button" class="btn btn-sm" id="hwr"onclick="submitData('nth_root')" value="nth_root">	
		<input type="button" class="btn btn-sm" onclick="submitData('multiply')" value="multiply">
		<input type="button" class="btn btn-sm" onclick="submitData('lor')" value="Logical or">
		<input type="button" class="btn btn-sm" onclick="submitData('is_diff')" value="Is Different">
		<!-- Add your input statements here -->
		<input type="button" class="btn btn-sm" onclick="submitData('xyz')" value="shift decimal left">
		<input type="button" class="btn btn-sm" onclick="submitData('logarithm')" value="logab">
		<input type="button" class="btn btn-sm" onclick="submitData('antilog')" value="antilog">
		<input type="button" class="btn btn-sm" onclick="submitData('rightshift')" value="rightshift">
		<input type="button" class="btn btn-sm" onclick="submitData('MOD')" value="MOD">
		<input type="button" class="btn btn-sm" onclick="submitData('findmax')" value="findmax">

	</form>	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">

    			</div>
    	</div>			
</body>
</html>
